# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {
    'country': [
        'Afghanistan',
        'Albania',
        'Algeria',
        'Andorra',
        'Angola',
        'Antigua and Barbuda',
        'Argentina',
        'Armenia',
        'Australia',
        'Austria',
        'Azerbaijan'],
    'population': np.random.randint(10000, 10000000, 11)}
df = pd.DataFrame(data=data)

In [16]:
max_population_index = df['population'].idxmax()
print('max_population_index: %s' % max_population_index)

print('country with the most country: %s: %s' % (df['country'][max_population_index], df['population'][max_population_index]))

max_population_index: 3
country with the most country: Andorra: 9772527

In [12]:
df

                country  population
0           Afghanistan      954105
1               Albania     2348728
2               Algeria     5522457
3               Andorra     9772527
4                Angola     1432279
5   Antigua and Barbuda     5832192
6             Argentina     8396818
7               Armenia     8854418
8             Australia     1161194
9               Austria     6574705
10           Azerbaijan     6830162